[mysqld]
bind_address = *
character_set_filesystem = utf8
character_set_server = utf8
collation_server = utf8_general_ci
console = 1
datadir = /data
init_connect = 'SET NAMES utf8'
init_connect = 'SET collation_connection = utf8_general_ci'
max_allowed_packet = 512M
port = 3306
skip_character_set_client_handshake
skip_external_locking
skip_log_error
skip_name_resolve
socket = /run/mysql/mysqld.sock
sql_mode = ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
symbolic_links = 0

[mysql]
default_character_set = utf8
no_auto_rehash

[client]
default_character_set = utf8
port = 3306
socket = /run/mysql/mysqld.sock
